In [1]:
import pandas as pd
import os
os.chdir('D:\Projects\hard_to_choose\src')

import read_db

df = pd.DataFrame(read_db.import_gtt(conn=read_db.open_gttdb()), columns=['Title', 'Runtime'])
df

                                            Title         Runtime
0                     The Elder Scrolls V: Skyrim  18949800000000
1                                         FIFA 18  13970400000000
2                           Football Manager 2017  10980000000000
3                                         FIFA 16   8568000000000
4                                         FIFA 15   8136000000000
..                                            ...             ...
105                                Shadow Warrior     46063704108
106                               Forza Horizon 4   1020974986892
107  Ori and the Blind Forest: Definitive Edition    220316615776
108                                Slay the Spire     88139138625
109                                     A Way Out     63930861578

[110 rows x 2 columns]